body {
    background-image: url(https://thumb7.shutterstock.com/display_pic_with_logo/3246902/1045699285/stock-photo-belgrade-serbia-march-the-stone-watch-of-the-serbian-supreme-command-on-kajmakcalan-from-1045699285.jpg);
     background-color: black;
    background-attachment: fixed;
    color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
      
}
