<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="Layout1.css">
</head>

<body>
    <div class='all' id='first'>

    </div>
    <div class='all' id='second'>

    </div>
    <div class='all' id='third'>

    </div>
    <hr>

    <div class='all' id='first'>

    </div>
    <div class='all' id='second'>

    </div>
    <div class='all' id='third'>

    </div>
    <hr>
    <div class='last'>
        <div class='all' id='first'>

        </div>
        <div class='all' id='second'>

        </div>
        <div class='all' id='third'>
        </div>
    </div>

</body>

</html>