
header{
    text-align: center;


}
main{
    text-align: center;

}
ul{
    list-style-type: none;
    width: 100%;


}

li{
    border: 1px solid black;

}
article{
    margin: 0 auto;
    border: 1px solid black;

}